nodeRed/flows/flowForBME680_BMP180_DHT22_SDS011_MHZ19B_MHZ14A
[{"id":"17e1feff.a603b1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"738eb2b8.e97fcc","type":"mqtt in","z":"17e1feff.a603b1","name":"All","topic":"mp/+/+/test/+","qos":"2","broker":"de5832c6.32da7","x":210,"y":40,"wires":[["b9cd1220.82c0f8"]]},{"id":"b9cd1220.82c0f8","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":40,"wires":[]},{"id":"e23849e6.eaca98","type":"mqtt in","z":"17e1feff.a603b1","name":"BME680","topic":"mp/+/+/BME680/+","qos":"0","broker":"de5832c6.32da7","x":70,"y":240,"wires":[["bc54f5b.b37cb88","7a07ef17.81c4b8","29cdf454.e6fc9c","ac1779fb.2df3d","29806c02.5ed55c","b63607bf.3bb0f"]]},{"id":"1796ff19.5e6d31","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":580,"y":100,"wires":[]},{"id":"90d10804.5a5cc8","type":"ui_text","z":"17e1feff.a603b1","group":"63af5fd9.af8b88","order":0,"width":0,"height":0,"name":"Temperature BME680 Display","label":"BME680 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":140,"wires":[]},{"id":"bc54f5b.b37cb88","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["1796ff19.5e6d31","90d10804.5a5cc8","348811cb.351d46","778cf96a.0fe7a8"]]},{"id":"7a07ef17.81c4b8","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":80,"wires":[]},{"id":"1a3c65a3.6c3232","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"e46b7de3.0718e8","order":2,"width":"6","height":"6","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":300,"wires":[[],[]]},{"id":"29cdf454.e6fc9c","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/humidity\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["1a3c65a3.6c3232","fdc824f0.0e56d8","a513da52.5fcba"]]},{"id":"fdc824f0.0e56d8","type":"ui_text","z":"17e1feff.a603b1","group":"5e5db8a0.f2d2e8","order":0,"width":0,"height":0,"name":"Humidity BME680 Display","label":"BME680 Humidity in %:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":220,"wires":[]},{"id":"ac1779fb.2df3d","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/gas\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["85023666.8d542","3499924e.59eace"]]},{"id":"3499924e.59eace","type":"ui_text","z":"17e1feff.a603b1","group":"d8abba8b.e2acb","order":0,"width":0,"height":0,"name":"Gas BME680 Display","label":"BME680 Gas in kOhm:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":340,"wires":[]},{"id":"85023666.8d542","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"c5896ca5.e5f208","order":2,"width":"8","height":"6","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"800","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":380,"wires":[[],[]]},{"id":"348811cb.351d46","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"4741670e.de4948","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#fc7311","#130d08","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":180,"wires":[[],[]]},{"id":"a513da52.5fcba","type":"ui_gauge","z":"17e1feff.a603b1","name":"Humidity BME680","group":"e04df439.9ef968","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity BME680","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":260,"wires":[]},{"id":"5a287061.9c8738","type":"mqtt in","z":"17e1feff.a603b1","name":"DHT22","topic":"mp/+/+/DHT22/+","qos":"0","broker":"de5832c6.32da7","x":70,"y":580,"wires":[["9da06739.279cf8","ca336141.69423","b56f1d15.6682c","cb0e4859.25efe8"]]},{"id":"9b72c3ec.69421","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":620,"y":540,"wires":[]},{"id":"3138f0c0.afd018","type":"ui_text","z":"17e1feff.a603b1","group":"63af5fd9.af8b88","order":0,"width":0,"height":0,"name":"Temperature DHT22 Display","label":"DHT22 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":580,"wires":[]},{"id":"9da06739.279cf8","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["9b72c3ec.69421","3138f0c0.afd018","dbe95748.8def4"]]},{"id":"ca336141.69423","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":540,"wires":[]},{"id":"b56f1d15.6682c","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/humidity\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["498d197e.32b1a8","cc3bbfe0.00351","1163f1f6.62409e"]]},{"id":"498d197e.32b1a8","type":"ui_text","z":"17e1feff.a603b1","group":"5e5db8a0.f2d2e8","order":0,"width":0,"height":0,"name":"Humidity DHT22 Display","label":"DHT22 Humidity in %:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":660,"wires":[]},{"id":"dbe95748.8def4","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"4741670e.de4948","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#f36511","#18110b","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":620,"wires":[[],[]]},{"id":"cc3bbfe0.00351","type":"ui_gauge","z":"17e1feff.a603b1","name":"Humidity DHT22","group":"e04df439.9ef968","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity DHT22","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":700,"wires":[]},{"id":"1163f1f6.62409e","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"e46b7de3.0718e8","order":2,"width":"6","height":"6","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#e87012","#1a140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":740,"wires":[[],[]]},{"id":"37a09c90.daaf6c","type":"ui_text","z":"17e1feff.a603b1","group":"fa0df67.8581d88","order":0,"width":0,"height":0,"name":"Altitude BME680 Display","label":"BME680 Altitude in m:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":420,"wires":[]},{"id":"29806c02.5ed55c","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/altitude\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["37a09c90.daaf6c"]]},{"id":"b63607bf.3bb0f","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pressure\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["8d748656.4b49b8"]]},{"id":"8d748656.4b49b8","type":"ui_text","z":"17e1feff.a603b1","group":"f29cc36f.e80c8","order":0,"width":0,"height":0,"name":"Pressure BME680 Display","label":"BME680 Pressure in hPa:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":460,"wires":[]},{"id":"f83f20b5.099a1","type":"mqtt in","z":"17e1feff.a603b1","name":"DHT22_2","topic":"mp/+/+/DHT22_2/+","qos":"0","broker":"de5832c6.32da7","x":80,"y":860,"wires":[["36c31718.3b0b","87598ebe.0aafb","e43833ed.ef795","8ce3898a.acba08"]]},{"id":"4b5dbe39.5a533","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":600,"y":780,"wires":[]},{"id":"9cbeb41e.f6cd5","type":"ui_text","z":"17e1feff.a603b1","group":"63af5fd9.af8b88","order":0,"width":0,"height":0,"name":"Temperature DHT22_2 Display","label":"DHT22_2 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":860,"wires":[]},{"id":"36c31718.3b0b","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":860,"wires":[["4b5dbe39.5a533","9cbeb41e.f6cd5","dbe95748.8def4"]]},{"id":"87598ebe.0aafb","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":800,"wires":[]},{"id":"e43833ed.ef795","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/humidity\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":920,"wires":[["bed43f93.07b19","d03b6fd5.0203f8","1163f1f6.62409e"]]},{"id":"bed43f93.07b19","type":"ui_text","z":"17e1feff.a603b1","group":"5e5db8a0.f2d2e8","order":0,"width":0,"height":0,"name":"Humidity DHT22_2 Display","label":"DHT22_2 Humidity in %:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":920,"wires":[]},{"id":"d03b6fd5.0203f8","type":"ui_gauge","z":"17e1feff.a603b1","name":"Humidity DHT22_2","group":"e04df439.9ef968","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity DHT22_2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":960,"wires":[]},{"id":"eb0aa596.b44af","type":"mqtt in","z":"17e1feff.a603b1","name":"BMP180","topic":"mp/+/+/BMP180/+","qos":"0","broker":"de5832c6.32da7","x":80,"y":1100,"wires":[["42ccab6d.40bf24","6f688040.17c4a","88b140d2.5c067","69fadc58.903d4c","f3d3e00f.4680b"]]},{"id":"13a65cb3.0fc163","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":1015,"wires":[]},{"id":"6f44f1b4.bb546","type":"ui_text","z":"17e1feff.a603b1","group":"63af5fd9.af8b88","order":0,"width":0,"height":0,"name":"Temperature BMP180 Display","label":"BMP180 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1080,"wires":[]},{"id":"42ccab6d.40bf24","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1095,"wires":[["13a65cb3.0fc163","6f44f1b4.bb546","95f15e2e.1e11"]]},{"id":"6f688040.17c4a","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":1035,"wires":[]},{"id":"95f15e2e.1e11","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"4741670e.de4948","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":1140,"wires":[[],[]]},{"id":"454645d3.dfcd0c","type":"ui_text","z":"17e1feff.a603b1","group":"fa0df67.8581d88","order":0,"width":0,"height":0,"name":"Altitude BMP180 Display","label":"BMP180 Altitude in m:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1180,"wires":[]},{"id":"88b140d2.5c067","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/altitude\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1180,"wires":[["454645d3.dfcd0c"]]},{"id":"69fadc58.903d4c","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pressure\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1240,"wires":[["c61d9102.7bee1"]]},{"id":"c61d9102.7bee1","type":"ui_text","z":"17e1feff.a603b1","group":"f29cc36f.e80c8","order":0,"width":0,"height":0,"name":"Pressure BMP180 Display","label":"BMP180 Pressure in hPa:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1240,"wires":[]},{"id":"4a1ba51b.9a1ab4","type":"mqtt in","z":"17e1feff.a603b1","name":"BMP180_2","topic":"mp/+/+/BMP180_2/+","qos":"0","broker":"de5832c6.32da7","x":80,"y":1340,"wires":[["c6ea9254.f86f9","b8fa78c4.71e91","ffe1188a.4e619","d87f139f.7635a","a326ebb5.43289"]]},{"id":"3a1bc3d.41dbcbc","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":620,"y":1280,"wires":[]},{"id":"28db3be9.67a5ac","type":"ui_text","z":"17e1feff.a603b1","group":"63af5fd9.af8b88","order":0,"width":0,"height":0,"name":"Temperature BMP180_2 Display","label":"BMP180_2 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1340,"wires":[]},{"id":"c6ea9254.f86f9","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1335,"wires":[["3a1bc3d.41dbcbc","28db3be9.67a5ac","95f15e2e.1e11"]]},{"id":"b8fa78c4.71e91","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":1275,"wires":[]},{"id":"63176f84.e6fa7","type":"ui_text","z":"17e1feff.a603b1","group":"fa0df67.8581d88","order":0,"width":0,"height":0,"name":"Altitude BMP180_2 Display","label":"BMP180_2 Altitude in m:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1380,"wires":[]},{"id":"ffe1188a.4e619","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/altitude\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1380,"wires":[["63176f84.e6fa7"]]},{"id":"d87f139f.7635a","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pressure\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1420,"wires":[["9e21a21b.27c3f"]]},{"id":"9e21a21b.27c3f","type":"ui_text","z":"17e1feff.a603b1","group":"f29cc36f.e80c8","order":0,"width":0,"height":0,"name":"Pressure BMP180_2 Display","label":"BMP180_2 Pressure in hPa:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1420,"wires":[]},{"id":"a4ec4320.3143f","type":"mqtt in","z":"17e1feff.a603b1","name":"SDS011","topic":"mp/+/+/SDS011/+","qos":"0","broker":"de5832c6.32da7","x":80,"y":1560,"wires":[["1813981f.6474b","68da616d.367f28","acca1530.557928","69622770.3996b8"]]},{"id":"5b6357e4.353188","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":1475,"wires":[]},{"id":"650c4e55.802018","type":"ui_text","z":"17e1feff.a603b1","group":"d8abba8b.e2acb","order":0,"width":0,"height":0,"name":"SDS011 PM2.5 Display","label":"SDS011 PM2.5:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1540,"wires":[]},{"id":"1813981f.6474b","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pm2dot5\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1555,"wires":[["5b6357e4.353188","650c4e55.802018","80783199.d9dcd8"]]},{"id":"68da616d.367f28","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":1495,"wires":[]},{"id":"80783199.d9dcd8","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"c5896ca5.e5f208","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":1600,"wires":[[],[]]},{"id":"618c9f9c.523c9","type":"ui_text","z":"17e1feff.a603b1","group":"d8abba8b.e2acb","order":0,"width":0,"height":0,"name":"SDS011 PM10 Display","label":"SDS011 PM10:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1640,"wires":[]},{"id":"acca1530.557928","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pm10\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1640,"wires":[["618c9f9c.523c9","d779cbca.178f7"]]},{"id":"7682b0c7.c72a1","type":"ui_text","z":"17e1feff.a603b1","group":"6f79821a.fd9524","order":0,"width":0,"height":0,"name":"CO2 Display","label":"MP room CO2 ppm:","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1760,"wires":[]},{"id":"d779cbca.178f7","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"c5896ca5.e5f208","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":1680,"wires":[[],[]]},{"id":"778cf96a.0fe7a8","type":"simpletime","z":"17e1feff.a603b1","name":"","x":830,"y":180,"wires":[["9806256e.6b2a18"]]},{"id":"cb0e4859.25efe8","type":"simpletime","z":"17e1feff.a603b1","name":"","x":890,"y":620,"wires":[["18a57ef7.d74ba1"]]},{"id":"18a57ef7.d74ba1","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"DHT22 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1110,"y":620,"wires":[]},{"id":"9806256e.6b2a18","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BME680 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1050,"y":180,"wires":[]},{"id":"f3d3e00f.4680b","type":"simpletime","z":"17e1feff.a603b1","name":"","x":950,"y":1120,"wires":[["5778d53b.cdf6a4"]]},{"id":"5778d53b.cdf6a4","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BMP180 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1170,"y":1120,"wires":[]},{"id":"69622770.3996b8","type":"simpletime","z":"17e1feff.a603b1","name":"","x":910,"y":1600,"wires":[["55709e79.a4e028"]]},{"id":"55709e79.a4e028","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"SDS011 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1130,"y":1600,"wires":[]},{"id":"a326ebb5.43289","type":"simpletime","z":"17e1feff.a603b1","name":"","x":890,"y":1340,"wires":[["568a6bd4.e575e4"]]},{"id":"568a6bd4.e575e4","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BMP180_2 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1110,"y":1340,"wires":[]},{"id":"8ce3898a.acba08","type":"simpletime","z":"17e1feff.a603b1","name":"","x":890,"y":840,"wires":[["2b7d187c.1dc4a"]]},{"id":"2b7d187c.1dc4a","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"DHT22_2 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1110,"y":840,"wires":[]},{"id":"65d33ffc.0cd59","type":"mqtt in","z":"17e1feff.a603b1","name":"MHZ19B","topic":"mp/+/+/MHZ19B/+","qos":"0","datatype":"auto","broker":"de5832c6.32da7","x":80,"y":1900,"wires":[["e7376ea1.9d0be8","6da9dbf5.8c63e4","7f9a1108.189c2","19705f16.a6a8a9","ab40752f.bff87"]]},{"id":"b37ce898.cede2","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":1815,"wires":[]},{"id":"47d89f86.6516d8","type":"ui_text","z":"17e1feff.a603b1","group":"6f79821a.fd9524","order":0,"width":0,"height":0,"name":"MHZ19B PPM Display","label":"MHZ19B PPM UART CO2:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1880,"wires":[]},{"id":"e7376ea1.9d0be8","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1895,"wires":[["b37ce898.cede2","47d89f86.6516d8","d6d41480.7dc5a8"]]},{"id":"6da9dbf5.8c63e4","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":1835,"wires":[]},{"id":"d6d41480.7dc5a8","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"2f589566.2b7b0a","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":1940,"wires":[[],[]]},{"id":"936891b0.92d118","type":"ui_text","z":"17e1feff.a603b1","group":"63af5fd9.af8b88","order":0,"width":0,"height":0,"name":"MHZ19B Temperature Display","label":"MHZ19B Temparature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1980,"wires":[]},{"id":"7f9a1108.189c2","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1980,"wires":[["936891b0.92d118","140dc530.3585fb"]]},{"id":"140dc530.3585fb","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"4741670e.de4948","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":2020,"wires":[[],[]]},{"id":"19705f16.a6a8a9","type":"simpletime","z":"17e1feff.a603b1","name":"","x":890,"y":1920,"wires":[["ad91a005.7e694"]]},{"id":"ad91a005.7e694","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"MHZ19B Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1130,"y":1920,"wires":[]},{"id":"40482f29.816e88","type":"time-inject","z":"17e1feff.a603b1","name":"","nameInt":"timestamp","positionConfig":"fe43f973.725308","payload":"","payloadType":"date","payloadTimeFormat":0,"payloadOffset":0,"payloadOffsetType":"none","payloadOffsetMultiplier":60000,"topic":"","time":"","timeType":"none","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"","timeEndType":"none","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"addPayload1":"","addPayload1Type":"none","addPayload1Value":"","addPayload1ValueType":"date","addPayload1Format":"0","addPayload1Offset":0,"addPayload1OffsetType":"none","addPayload1OffsetMultiplier":60000,"addPayload1Next":true,"addPayload1Days":"*","addPayload2":"","addPayload2Type":"none","addPayload2Value":"","addPayload2ValueType":"date","addPayload2Format":"0","addPayload2Offset":0,"addPayload2OffsetType":"none","addPayload2OffsetMultiplier":60000,"addPayload2Next":true,"addPayload2Days":"*","addPayload3":"","addPayload3Type":"none","addPayload3Value":"","addPayload3ValueType":"date","addPayload3Format":"0","addPayload3Offset":0,"addPayload3OffsetType":"none","addPayload3OffsetMultiplier":60000,"addPayload3Next":true,"addPayload3Days":"*","recalcTime":2,"x":900,"y":340,"wires":[["a7c3ac33.ac193","4a7ae793.f3e0a8"]]},{"id":"a7c3ac33.ac193","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"Injected Time of last recived msg :","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":340,"wires":[]},{"id":"4a7ae793.f3e0a8","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":280,"wires":[]},{"id":"ab40752f.bff87","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm_pwm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2040,"wires":[["a5615792.8d15a8","d6d41480.7dc5a8"]]},{"id":"a5615792.8d15a8","type":"ui_text","z":"17e1feff.a603b1","group":"6f79821a.fd9524","order":0,"width":0,"height":0,"name":"MHZ19B PPM PWM Display","label":"MHZ19B PPM PWM CO2:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2060,"wires":[]},{"id":"78b838d8.ca01a8","type":"mqtt in","z":"17e1feff.a603b1","name":"MHZ14A","topic":"mp/+/+/MHZ14A/+","qos":"0","datatype":"auto","broker":"de5832c6.32da7","x":80,"y":2200,"wires":[["eb305858.ff6168","73aeb1b4.be4f4","1a8752f7.db5425","4d54e7db.bad3c","1ff3c31c.28ea9d"]]},{"id":"25f7f5f2.97f3b2","type":"debug","z":"17e1feff.a603b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":2115,"wires":[]},{"id":"18ff3b3c.d7a155","type":"ui_text","z":"17e1feff.a603b1","group":"6f79821a.fd9524","order":0,"width":0,"height":0,"name":"MHZ14A PPM Display","label":"MHZ14A PPM UART CO2:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":2180,"wires":[]},{"id":"eb305858.ff6168","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":2195,"wires":[["25f7f5f2.97f3b2","18ff3b3c.d7a155","76d1e6cc.608d6"]]},{"id":"73aeb1b4.be4f4","type":"debug","z":"17e1feff.a603b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":2135,"wires":[]},{"id":"76d1e6cc.608d6","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"2f589566.2b7b0a","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":2240,"wires":[[],[]]},{"id":"2687a1ee.5bdba6","type":"ui_text","z":"17e1feff.a603b1","group":"63af5fd9.af8b88","order":0,"width":0,"height":0,"name":"MHZ14A Temperature Display","label":"MHZ14A Temparature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":2280,"wires":[]},{"id":"1a8752f7.db5425","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2280,"wires":[["2687a1ee.5bdba6","e5925184.c16b6"]]},{"id":"e5925184.c16b6","type":"ui_chart","z":"17e1feff.a603b1","name":"","group":"4741670e.de4948","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":2320,"wires":[[],[]]},{"id":"4d54e7db.bad3c","type":"simpletime","z":"17e1feff.a603b1","name":"","x":890,"y":2220,"wires":[["a3af95dd.7ada5"]]},{"id":"a3af95dd.7ada5","type":"ui_text","z":"17e1feff.a603b1","group":"7534dde.9f857a4","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"MHZ19B Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1130,"y":2220,"wires":[]},{"id":"1ff3c31c.28ea9d","type":"function","z":"17e1feff.a603b1","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm_pwm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2340,"wires":[["4e43984b.feb0d8","76d1e6cc.608d6"]]},{"id":"4e43984b.feb0d8","type":"ui_text","z":"17e1feff.a603b1","group":"6f79821a.fd9524","order":0,"width":0,"height":0,"name":"MHZ14A PPM PWM Display","label":"MHZ14A PPM PWM CO2:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2360,"wires":[]},{"id":"de5832c6.32da7","type":"mqtt-broker","z":"","name":"smartwater_broker","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"63af5fd9.af8b88","type":"ui_group","z":"","name":"List of temperature values","tab":"3240fa9c.0274de","disp":true,"width":"6","collapse":true},{"id":"e46b7de3.0718e8","type":"ui_group","z":"","name":"Humitdity Charts","tab":"f6e9cf7e.770a4","disp":true,"width":"6","collapse":true},{"id":"5e5db8a0.f2d2e8","type":"ui_group","z":"","name":"List of humidity values","tab":"3240fa9c.0274de","disp":true,"width":"6","collapse":true},{"id":"d8abba8b.e2acb","type":"ui_group","z":"","name":"Air Quality values","tab":"3240fa9c.0274de","disp":true,"width":"6","collapse":true},{"id":"c5896ca5.e5f208","type":"ui_group","z":"","name":"Air Quality Charts","tab":"f6e9cf7e.770a4","disp":true,"width":"8","collapse":true},{"id":"4741670e.de4948","type":"ui_group","z":"","name":"Temperature Charts","tab":"f6e9cf7e.770a4","disp":true,"width":"6","collapse":true},{"id":"e04df439.9ef968","type":"ui_group","z":"","name":"Gauge's","tab":"f6e9cf7e.770a4","disp":true,"width":"6","collapse":true},{"id":"fa0df67.8581d88","type":"ui_group","z":"","name":"List of altitude values","tab":"3240fa9c.0274de","disp":true,"width":"6","collapse":true},{"id":"f29cc36f.e80c8","type":"ui_group","z":"","name":"List of pressure values","tab":"3240fa9c.0274de","disp":true,"width":"6","collapse":true},{"id":"6f79821a.fd9524","type":"ui_group","z":"","name":"List of PPM sensor values","tab":"3240fa9c.0274de","disp":true,"width":"7","collapse":true},{"id":"7534dde.9f857a4","type":"ui_group","z":"","name":"TimeStamps","tab":"3240fa9c.0274de","disp":true,"width":"6","collapse":true},{"id":"2f589566.2b7b0a","type":"ui_group","z":"","name":"Co2 charts","tab":"f6e9cf7e.770a4","disp":true,"width":"6","collapse":true},{"id":"fe43f973.725308","type":"position-config","z":"","name":"","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"3240fa9c.0274de","type":"ui_tab","z":"","name":"List of all sensor Values","icon":"dashboard"},{"id":"f6e9cf7e.770a4","type":"ui_tab","z":"","name":"All sensor charts","icon":"dashboard"}]
