nodeRed/flows/flowForSCD41
[
    {
        "id": "6fc622451cad8984",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "796bea377d16ca9e",
        "type": "ui_text",
        "z": "6fc622451cad8984",
        "group": "6f79821a.fd9524",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SCD41 PPM Display",
        "label": "SCD41 PPM UART CO2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 1240,
        "wires": []
    },
    {
        "id": "25ce7dd8bd918c3c",
        "type": "function",
        "z": "6fc622451cad8984",
        "name": "Zone Extractor",
        "func": "var re = \"fau\\/(.*)\\/(.*)\\/(.*)\\/ppm_uart\"\n\nvar msgzone = msg.topic.match(re);\nmsg.zone = msgzone[1];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 335,
        "y": 1255,
        "wires": [
            [
                "796bea377d16ca9e",
                "c9a5bc57c83afcfd",
                "ff1cf87048f5fa2f"
            ]
        ]
    },
    {
        "id": "c9a5bc57c83afcfd",
        "type": "ui_chart",
        "z": "6fc622451cad8984",
        "name": "",
        "group": "2f589566.2b7b0a",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ec5e16",
            "#18140f",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "b704da4b687e0645",
        "type": "ui_text",
        "z": "6fc622451cad8984",
        "group": "63af5fd9.af8b88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SCD41 Temperature Display",
        "label": "SCD41 Temparature in C°:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 680,
        "y": 1340,
        "wires": []
    },
    {
        "id": "032b4875a8206fde",
        "type": "function",
        "z": "6fc622451cad8984",
        "name": "Zone Extractor",
        "func": "var re = \"fau\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nvar zone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1340,
        "wires": [
            [
                "b704da4b687e0645",
                "08695279d26cc972"
            ]
        ]
    },
    {
        "id": "08695279d26cc972",
        "type": "ui_chart",
        "z": "6fc622451cad8984",
        "name": "",
        "group": "4741670e.de4948",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ec5e16",
            "#18140f",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 610,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "78099fe7341f55cb",
        "type": "mqtt in",
        "z": "6fc622451cad8984",
        "name": "SCD41",
        "topic": "fau/+/+/SCD41/+",
        "qos": "0",
        "datatype": "auto",
        "broker": "de5832c6.32da7",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 1300,
        "wires": [
            [
                "25ce7dd8bd918c3c",
                "032b4875a8206fde",
                "0a28f4e092656804",
                "b15e6a17e30205a9"
            ]
        ]
    },
    {
        "id": "0a28f4e092656804",
        "type": "simpletime",
        "z": "6fc622451cad8984",
        "name": "",
        "x": 890,
        "y": 1300,
        "wires": [
            [
                "275355f070621de8"
            ]
        ]
    },
    {
        "id": "275355f070621de8",
        "type": "ui_text",
        "z": "6fc622451cad8984",
        "group": "7534dde.9f857a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Last recived Time Display",
        "label": "SCD41 Time of last recived msg :",
        "format": "{{mytimes}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1130,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b4e64d5a1d5b8df6",
        "type": "ui_text",
        "z": "6fc622451cad8984",
        "group": "5e5db8a0.f2d2e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "SCD41 humidity Display",
        "label": "SCD41 humidity:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 655,
        "y": 1445,
        "wires": []
    },
    {
        "id": "b15e6a17e30205a9",
        "type": "function",
        "z": "6fc622451cad8984",
        "name": "Zone Extractor",
        "func": "var re = \"fau\\/(.*)\\/(.*)\\/(.*)\\/humidity\"\n\nvar msgzone = msg.topic.match(re);\nmsg.zone = msgzone[1];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1460,
        "wires": [
            [
                "b4e64d5a1d5b8df6",
                "2acc1d8ce6e0aa28"
            ]
        ]
    },
    {
        "id": "2acc1d8ce6e0aa28",
        "type": "ui_chart",
        "z": "6fc622451cad8984",
        "name": "",
        "group": "4ffea3db9e473539",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ec5e16",
            "#18140f",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 595,
        "y": 1505,
        "wires": [
            []
        ]
    },
    {
        "id": "ff1cf87048f5fa2f",
        "type": "ui_chart",
        "z": "6fc622451cad8984",
        "name": "",
        "group": "2f589566.2b7b0a",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5000",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ec5e16",
            "#18140f",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "6f79821a.fd9524",
        "type": "ui_group",
        "name": "List of PPM sensor values",
        "tab": "3240fa9c.0274de",
        "order": 6,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "2f589566.2b7b0a",
        "type": "ui_group",
        "name": "Co2 charts",
        "tab": "f6e9cf7e.770a4",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "63af5fd9.af8b88",
        "type": "ui_group",
        "name": "List of temperature values",
        "tab": "3240fa9c.0274de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4741670e.de4948",
        "type": "ui_group",
        "name": "Temperature Charts",
        "tab": "f6e9cf7e.770a4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "de5832c6.32da7",
        "type": "mqtt-broker",
        "name": "smartwater_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7534dde.9f857a4",
        "type": "ui_group",
        "name": "TimeStamps",
        "tab": "3240fa9c.0274de",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "5e5db8a0.f2d2e8",
        "type": "ui_group",
        "name": "List of humidity values",
        "tab": "3240fa9c.0274de",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4ffea3db9e473539",
        "type": "ui_group",
        "name": "Humitdity Charts",
        "tab": "f6e9cf7e.770a4",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "3240fa9c.0274de",
        "type": "ui_tab",
        "name": "List of all sensor Values",
        "icon": "dashboard"
    },
    {
        "id": "f6e9cf7e.770a4",
        "type": "ui_tab",
        "name": "All sensor charts",
        "icon": "dashboard"
    }
]
