nodeRed/flows/flowForBME680_BMP180_DHT22_SDS011_MHZ19B_MHZ14A_PMS7003_RPI
[{"id":"a5b990f3.46a85","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce21bb3a.da33b8","type":"mqtt in","z":"a5b990f3.46a85","name":"All","topic":"mp/+/+/test/+","qos":"2","broker":"60388682.e1ac98","x":210,"y":40,"wires":[["ab6d38ac.67ed9"]]},{"id":"ab6d38ac.67ed9","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":40,"wires":[]},{"id":"bd3b4a7d.147b3","type":"mqtt in","z":"a5b990f3.46a85","name":"BME680","topic":"mp/+/+/BME680/+","qos":"0","datatype":"auto","broker":"60388682.e1ac98","x":70,"y":240,"wires":[["8d09aa10.a993f8","144dd6b1.9275e1","c40fab9b.f5d5e","a12f4ef3.63ecb","38d5c001.d89bb8","510465bd.9c5dbc"]]},{"id":"a830692e.31217","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":580,"y":100,"wires":[]},{"id":"aa6c3789.a9a718","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"Temperature BME680 Display","label":"BME680 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":140,"wires":[]},{"id":"8d09aa10.a993f8","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["a830692e.31217","aa6c3789.a9a718","18330035.75dcc","5aaa7322.860284"]]},{"id":"144dd6b1.9275e1","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":80,"wires":[]},{"id":"90a2f5e7.8b8be8","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"ce3c63da.86b428","order":2,"width":"6","height":"6","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":570,"y":300,"wires":[[],[]]},{"id":"c40fab9b.f5d5e","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/humidity\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["90a2f5e7.8b8be8","b4fa981b.760e08","87ae652f.043f"]]},{"id":"b4fa981b.760e08","type":"ui_text","z":"a5b990f3.46a85","group":"919061fb.2bb2e","order":0,"width":0,"height":0,"name":"Humidity BME680 Display","label":"BME680 Humidity in %:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":220,"wires":[]},{"id":"a12f4ef3.63ecb","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/gas\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["d425839f.767698","f9539082.070538"]]},{"id":"f9539082.070538","type":"ui_text","z":"a5b990f3.46a85","group":"21da9a24.ad07ce","order":0,"width":0,"height":0,"name":"Gas BME680 Display","label":"BME680 Gas in kOhm:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":340,"wires":[]},{"id":"d425839f.767698","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"65020d69.1e80d4","order":2,"width":"8","height":"6","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"800","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":570,"y":380,"wires":[[],[]]},{"id":"18330035.75dcc","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"fd0f9d33.076e28","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#fc7311","#130d08","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":570,"y":180,"wires":[[],[]]},{"id":"87ae652f.043f","type":"ui_gauge","z":"a5b990f3.46a85","name":"Humidity BME680","group":"eb60ca8d.7b92e8","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity BME680","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":260,"wires":[]},{"id":"69f4d5ed.b40aa4","type":"mqtt in","z":"a5b990f3.46a85","name":"DHT22","topic":"mp/+/+/DHT22/+","qos":"0","broker":"60388682.e1ac98","x":70,"y":580,"wires":[["6a89a5a7.0ae41c","33417a29.4f2ac6","9b4586cd.d7e1c8","7daf0d79.13e354"]]},{"id":"98f31365.b48ce","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":620,"y":540,"wires":[]},{"id":"2701ef9c.c6184","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"Temperature DHT22 Display","label":"DHT22 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":580,"wires":[]},{"id":"6a89a5a7.0ae41c","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["98f31365.b48ce","2701ef9c.c6184","8668c75c.16acd8"]]},{"id":"33417a29.4f2ac6","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":540,"wires":[]},{"id":"9b4586cd.d7e1c8","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/humidity\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["9b0ecb23.d30f1","4760db82.e9be4c","30809384.5ba624"]]},{"id":"9b0ecb23.d30f1","type":"ui_text","z":"a5b990f3.46a85","group":"919061fb.2bb2e","order":0,"width":0,"height":0,"name":"Humidity DHT22 Display","label":"DHT22 Humidity in %:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":660,"wires":[]},{"id":"8668c75c.16acd8","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"fd0f9d33.076e28","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#f36511","#18110b","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":590,"y":620,"wires":[[],[]]},{"id":"4760db82.e9be4c","type":"ui_gauge","z":"a5b990f3.46a85","name":"Humidity DHT22","group":"eb60ca8d.7b92e8","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity DHT22","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":700,"wires":[]},{"id":"30809384.5ba624","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"ce3c63da.86b428","order":2,"width":"6","height":"6","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#e87012","#1a140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":590,"y":740,"wires":[[],[]]},{"id":"a5684387.ffd648","type":"ui_text","z":"a5b990f3.46a85","group":"8a5af9de.d08bb","order":0,"width":0,"height":0,"name":"Altitude BME680 Display","label":"BME680 Altitude in m:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":420,"wires":[]},{"id":"38d5c001.d89bb8","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/altitude\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["a5684387.ffd648"]]},{"id":"510465bd.9c5dbc","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pressure\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["1acc011d.060e4f"]]},{"id":"1acc011d.060e4f","type":"ui_text","z":"a5b990f3.46a85","group":"66bb27fb.9c3a","order":0,"width":0,"height":0,"name":"Pressure BME680 Display","label":"BME680 Pressure in hPa:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":460,"wires":[]},{"id":"2a3f51ec.5de2ae","type":"mqtt in","z":"a5b990f3.46a85","name":"DHT22_2","topic":"mp/+/+/DHT22_2/+","qos":"0","broker":"60388682.e1ac98","x":80,"y":860,"wires":[["73cf3ae.58bc1c4","3024ce75.77f982","6f4be39b.7a1ee4","7ca72b6d.8f85ac"]]},{"id":"a05661af.7fc528","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":600,"y":780,"wires":[]},{"id":"81bcc6ca.a93c5","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"Temperature DHT22_2 Display","label":"DHT22_2 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":860,"wires":[]},{"id":"73cf3ae.58bc1c4","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":860,"wires":[["a05661af.7fc528","81bcc6ca.a93c5","8668c75c.16acd8"]]},{"id":"3024ce75.77f982","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":800,"wires":[]},{"id":"6f4be39b.7a1ee4","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/humidity\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":920,"wires":[["6370f394.4f2f24","c527a765.9f4808","30809384.5ba624"]]},{"id":"6370f394.4f2f24","type":"ui_text","z":"a5b990f3.46a85","group":"919061fb.2bb2e","order":0,"width":0,"height":0,"name":"Humidity DHT22_2 Display","label":"DHT22_2 Humidity in %:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":920,"wires":[]},{"id":"c527a765.9f4808","type":"ui_gauge","z":"a5b990f3.46a85","name":"Humidity DHT22_2","group":"eb60ca8d.7b92e8","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity DHT22_2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":960,"wires":[]},{"id":"2f84dafc.eb2efe","type":"mqtt in","z":"a5b990f3.46a85","name":"BMP180","topic":"mp/+/+/BMP180/+","qos":"0","broker":"60388682.e1ac98","x":80,"y":1100,"wires":[["d1da5ff.6da7b2","c546cb4e.c9ffb8","55387cb6.fd9a04","1ca76a7.8383496","c0071841.97dd4"]]},{"id":"c8cc10e.c22cd7","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":1015,"wires":[]},{"id":"5fe5b9ad.498a7","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"Temperature BMP180 Display","label":"BMP180 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1080,"wires":[]},{"id":"d1da5ff.6da7b2","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1095,"wires":[["c8cc10e.c22cd7","5fe5b9ad.498a7","b7b5f0a0.0c662"]]},{"id":"c546cb4e.c9ffb8","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":1035,"wires":[]},{"id":"b7b5f0a0.0c662","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"fd0f9d33.076e28","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":610,"y":1140,"wires":[[],[]]},{"id":"5ae37411.64b35c","type":"ui_text","z":"a5b990f3.46a85","group":"8a5af9de.d08bb","order":0,"width":0,"height":0,"name":"Altitude BMP180 Display","label":"BMP180 Altitude in m:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1180,"wires":[]},{"id":"55387cb6.fd9a04","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/altitude\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1180,"wires":[["5ae37411.64b35c"]]},{"id":"1ca76a7.8383496","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pressure\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1240,"wires":[["51748c81.7debb4"]]},{"id":"51748c81.7debb4","type":"ui_text","z":"a5b990f3.46a85","group":"66bb27fb.9c3a","order":0,"width":0,"height":0,"name":"Pressure BMP180 Display","label":"BMP180 Pressure in hPa:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1240,"wires":[]},{"id":"5d1b97f5.d7958","type":"mqtt in","z":"a5b990f3.46a85","name":"BMP180_2","topic":"mp/+/+/BMP180_2/+","qos":"0","broker":"60388682.e1ac98","x":80,"y":1340,"wires":[["dc63acf.c132b5","32e5a5fe.b8d63a","9a7c1eaa.e236e","edf4cfc3.d0aa08","bd4cce21.6ca3f8"]]},{"id":"ce280ed7.fe7be","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":620,"y":1280,"wires":[]},{"id":"78e3a444.1d49f4","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"Temperature BMP180_2 Display","label":"BMP180_2 Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1340,"wires":[]},{"id":"dc63acf.c132b5","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1335,"wires":[["ce280ed7.fe7be","78e3a444.1d49f4","b7b5f0a0.0c662"]]},{"id":"32e5a5fe.b8d63a","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":1275,"wires":[]},{"id":"cd652dbb.44dab8","type":"ui_text","z":"a5b990f3.46a85","group":"8a5af9de.d08bb","order":0,"width":0,"height":0,"name":"Altitude BMP180_2 Display","label":"BMP180_2 Altitude in m:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1380,"wires":[]},{"id":"9a7c1eaa.e236e","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/altitude\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1380,"wires":[["cd652dbb.44dab8"]]},{"id":"edf4cfc3.d0aa08","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pressure\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1420,"wires":[["4ad168a7.e9bbb"]]},{"id":"4ad168a7.e9bbb","type":"ui_text","z":"a5b990f3.46a85","group":"66bb27fb.9c3a","order":0,"width":0,"height":0,"name":"Pressure BMP180_2 Display","label":"BMP180_2 Pressure in hPa:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1420,"wires":[]},{"id":"39f3eae.f35e696","type":"mqtt in","z":"a5b990f3.46a85","name":"SDS011","topic":"mp/+/+/SDS011/+","qos":"0","broker":"60388682.e1ac98","x":80,"y":1560,"wires":[["eaf73aae.906d78","e972478.278c3b8","cca6e276.56ab","53bb2a95.ba971c"]]},{"id":"6b5becd8.cf3da4","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":1475,"wires":[]},{"id":"3fb8f1b8.0d2736","type":"ui_text","z":"a5b990f3.46a85","group":"21da9a24.ad07ce","order":0,"width":0,"height":0,"name":"SDS011 PM2.5 Display","label":"SDS011 PM2.5:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":1540,"wires":[]},{"id":"eaf73aae.906d78","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pm2dot5\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1555,"wires":[["6b5becd8.cf3da4","3fb8f1b8.0d2736","df039ef8.3b1a1"]]},{"id":"e972478.278c3b8","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":1495,"wires":[]},{"id":"df039ef8.3b1a1","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"65020d69.1e80d4","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":1600,"wires":[[]]},{"id":"ed8921c.aed3be","type":"ui_text","z":"a5b990f3.46a85","group":"21da9a24.ad07ce","order":0,"width":0,"height":0,"name":"SDS011 PM10 Display","label":"SDS011 PM10:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1640,"wires":[]},{"id":"cca6e276.56ab","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pm10\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1640,"wires":[["ed8921c.aed3be","ca7a69d8.05cc"]]},{"id":"ca7a69d8.05cc","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"65020d69.1e80d4","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":1680,"wires":[[]]},{"id":"5aaa7322.860284","type":"simpletime","z":"a5b990f3.46a85","name":"","x":830,"y":180,"wires":[["3ae3a7a7.c0f9a"]]},{"id":"7daf0d79.13e354","type":"simpletime","z":"a5b990f3.46a85","name":"","x":890,"y":620,"wires":[["73c05c33.cf189c"]]},{"id":"73c05c33.cf189c","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"DHT22 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1110,"y":620,"wires":[]},{"id":"3ae3a7a7.c0f9a","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BME680 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1050,"y":180,"wires":[]},{"id":"c0071841.97dd4","type":"simpletime","z":"a5b990f3.46a85","name":"","x":950,"y":1120,"wires":[["31a5838a.6fc71c"]]},{"id":"31a5838a.6fc71c","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BMP180 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1170,"y":1120,"wires":[]},{"id":"53bb2a95.ba971c","type":"simpletime","z":"a5b990f3.46a85","name":"","x":910,"y":1600,"wires":[["647c045e.84b37c"]]},{"id":"647c045e.84b37c","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"SDS011 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1130,"y":1600,"wires":[]},{"id":"bd4cce21.6ca3f8","type":"simpletime","z":"a5b990f3.46a85","name":"","x":890,"y":1340,"wires":[["2af18ef0.9b03fa"]]},{"id":"2af18ef0.9b03fa","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BMP180_2 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1110,"y":1340,"wires":[]},{"id":"7ca72b6d.8f85ac","type":"simpletime","z":"a5b990f3.46a85","name":"","x":890,"y":840,"wires":[["cd8849c3.f8b73"]]},{"id":"cd8849c3.f8b73","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"DHT22_2 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1110,"y":840,"wires":[]},{"id":"9bc65bd.7c191a8","type":"mqtt in","z":"a5b990f3.46a85","name":"MHZ19B","topic":"mp/+/+/MHZ19B/+","qos":"0","datatype":"auto","broker":"60388682.e1ac98","x":80,"y":1900,"wires":[["b190357d.b84aa8","335e1424.30a57c","cf726b0a.db985","d9ba0ee0.f1106","1fed4d14.70d82b"]]},{"id":"65fe134d.f65124","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":1815,"wires":[]},{"id":"3f4b4577.69e532","type":"ui_text","z":"a5b990f3.46a85","group":"f4a8a2f8.79e118","order":0,"width":0,"height":0,"name":"MHZ19B PPM Display","label":"MHZ19B PPM UART CO2:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":1880,"wires":[]},{"id":"b190357d.b84aa8","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1895,"wires":[["65fe134d.f65124","3f4b4577.69e532","3d5d1fe5.a353a"]]},{"id":"335e1424.30a57c","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":305,"y":1835,"wires":[]},{"id":"3d5d1fe5.a353a","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"b6c6b676.a40b88","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":1940,"wires":[[]]},{"id":"fbcdeb7f.df2d7","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"MHZ19B Temperature Display","label":"MHZ19B Temparature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1980,"wires":[]},{"id":"cf726b0a.db985","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1980,"wires":[["fbcdeb7f.df2d7","1321750b.8f9ab3"]]},{"id":"1321750b.8f9ab3","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"fd0f9d33.076e28","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":590,"y":2020,"wires":[[],[]]},{"id":"d9ba0ee0.f1106","type":"simpletime","z":"a5b990f3.46a85","name":"","x":890,"y":1920,"wires":[["d29e0973.c8036"]]},{"id":"d29e0973.c8036","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"MHZ19B Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1130,"y":1920,"wires":[]},{"id":"68019d97.94715c","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"Injected Time of last recived msg :","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":340,"wires":[]},{"id":"c9ff7b8b.140a68","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":280,"wires":[]},{"id":"1fed4d14.70d82b","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm_pwm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2040,"wires":[["8fe76f89.5fdef","3d5d1fe5.a353a"]]},{"id":"8fe76f89.5fdef","type":"ui_text","z":"a5b990f3.46a85","group":"f4a8a2f8.79e118","order":0,"width":0,"height":0,"name":"MHZ19B PPM PWM Display","label":"MHZ19B PPM PWM CO2:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2060,"wires":[]},{"id":"c9834d5f.11c8d8","type":"mqtt in","z":"a5b990f3.46a85","name":"MHZ14A","topic":"mp/+/+/MHZ14A/+","qos":"0","datatype":"auto","broker":"60388682.e1ac98","x":80,"y":2200,"wires":[["93336351.888068","236eece0.63363c","6d3a7abc.a9d054","9c05f652.021b3","980ba529.00ba28"]]},{"id":"64876715.0027b","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":615,"y":2115,"wires":[]},{"id":"6bafce11.7c2fc","type":"ui_text","z":"a5b990f3.46a85","group":"f4a8a2f8.79e118","order":0,"width":0,"height":0,"name":"MHZ14A PPM Display","label":"MHZ14A PPM UART CO2:","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":2180,"wires":[]},{"id":"93336351.888068","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":2195,"wires":[["64876715.0027b","6bafce11.7c2fc","2f12573c.b94448"]]},{"id":"236eece0.63363c","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":305,"y":2135,"wires":[]},{"id":"2f12573c.b94448","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"b6c6b676.a40b88","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":2240,"wires":[[]]},{"id":"38365704.0cf33","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"MHZ14A Temperature Display","label":"MHZ14A Temparature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":2280,"wires":[]},{"id":"6d3a7abc.a9d054","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/temperature\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2280,"wires":[["38365704.0cf33","b8903095.d80d8"]]},{"id":"b8903095.d80d8","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"fd0f9d33.076e28","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":2320,"wires":[[]]},{"id":"9c05f652.021b3","type":"simpletime","z":"a5b990f3.46a85","name":"","x":890,"y":2220,"wires":[["5ab024ba.3464d4"]]},{"id":"5ab024ba.3464d4","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"MHZ14A Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1130,"y":2220,"wires":[]},{"id":"980ba529.00ba28","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/ppm_pwm\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2340,"wires":[["d08ac441.3eb7d","2f12573c.b94448"]]},{"id":"d08ac441.3eb7d","type":"ui_text","z":"a5b990f3.46a85","group":"f4a8a2f8.79e118","order":0,"width":0,"height":0,"name":"MHZ14A PPM PWM Display","label":"MHZ14A PPM PWM CO2:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2360,"wires":[]},{"id":"c4c10205.1ea0b","type":"mqtt in","z":"a5b990f3.46a85","name":"PMS7003","topic":"mp/+/+/PMS7003/+","qos":"0","datatype":"auto","broker":"60388682.e1ac98","x":80,"y":2500,"wires":[["ac1a1058.64795","e49743a4.ecf5c","dd77251c.ebb68","2cd9304c.f4c3c8","118b9621.56a752"]]},{"id":"59b7cf6b.96e2","type":"debug","z":"a5b990f3.46a85","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"zone","x":600,"y":2440,"wires":[]},{"id":"9296a8b4.83c3a","type":"ui_text","z":"a5b990f3.46a85","group":"21da9a24.ad07ce","order":0,"width":0,"height":0,"name":"PMS7003 PM2.5 Display","label":"PMS7003 PM2.5:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":2560,"wires":[]},{"id":"e49743a4.ecf5c","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pm2dot5\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2580,"wires":[["9296a8b4.83c3a","17d8f9f1.21f4ce"]]},{"id":"ac1a1058.64795","type":"debug","z":"a5b990f3.46a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":2440,"wires":[]},{"id":"17d8f9f1.21f4ce","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"65020d69.1e80d4","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":2600,"wires":[[]]},{"id":"8e7f08a1.52378","type":"ui_text","z":"a5b990f3.46a85","group":"21da9a24.ad07ce","order":0,"width":0,"height":0,"name":"PMS7003 PM10 Display","label":"PMS7003 PM10:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":2640,"wires":[]},{"id":"dd77251c.ebb68","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pm10\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2640,"wires":[["8e7f08a1.52378","7f728f6f.dc4a88"]]},{"id":"7f728f6f.dc4a88","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"65020d69.1e80d4","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":2680,"wires":[[]]},{"id":"118b9621.56a752","type":"simpletime","z":"a5b990f3.46a85","name":"","x":915,"y":2545,"wires":[["398614c5.5cd8cc"]]},{"id":"398614c5.5cd8cc","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"PMS7003 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1135,"y":2545,"wires":[]},{"id":"1a919579.f0bd8b","type":"ui_text","z":"a5b990f3.46a85","group":"21da9a24.ad07ce","order":0,"width":0,"height":0,"name":"PMS7003 PM1.0 Display","label":"PMS7003 PM1.0:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":2480,"wires":[]},{"id":"2cd9304c.f4c3c8","type":"function","z":"a5b990f3.46a85","name":"Zone Extractor","func":"var re = \"mp\\/(.*)\\/(.*)\\/(.*)\\/pm1\"\n\nzone = msg.topic.match(re);\nmsg.zone = zone[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":2500,"wires":[["1a919579.f0bd8b","d5202a26.7ef218","59b7cf6b.96e2"]]},{"id":"d5202a26.7ef218","type":"ui_chart","z":"a5b990f3.46a85","name":"","group":"65020d69.1e80d4","order":2,"width":"6","height":"5","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ec5e16","#18140f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":2520,"wires":[[]]},{"id":"c220f1b0.483348","type":"ui_gauge","z":"a5b990f3.46a85","name":"temperature_gauge","group":"ae19eb52.3cbda8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature [ °C ]","label":"","format":"{{msg.payload.Value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"23","seg2":"28","x":950,"y":2780,"wires":[]},{"id":"d9a4e0b5.4f695","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":2,"width":0,"height":0,"name":"temperature","label":"Temperature [ °C ]","format":"{{msg.payload.Value}}","layout":"row-spread","x":920,"y":2700,"wires":[]},{"id":"d06ac5ca.b04ff","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":3,"width":0,"height":0,"name":"humidity","label":"Humidity [ % Hd ]","format":"{{msg.payload.Value}}","layout":"row-spread","x":910,"y":2840,"wires":[]},{"id":"3ed04ef0.c499c2","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":8,"width":0,"height":0,"name":"carbon_dioxide","label":"Carbon Dioxide [ ppm ]","format":"{{msg.payload.Value}}","layout":"row-spread","x":930,"y":3160,"wires":[]},{"id":"8da9c798.504558","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":5,"width":0,"height":0,"name":"gas_resistance","label":"Gas [ Ohms ]","format":"{{msg.payload.Value}}","layout":"row-spread","x":930,"y":3020,"wires":[]},{"id":"c4fb6d25.bd5e2","type":"change","z":"a5b990f3.46a85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2740,"wires":[["f2bc073a.d3aba","cca0885a.662d18"]]},{"id":"f2bc073a.d3aba","type":"ui_chart","z":"a5b990f3.46a85","name":"temperature_today","group":"88cccbbf.46cc88","order":2,"width":0,"height":0,"label":"Temperature [ °C ]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no information available","dot":false,"ymin":"0","ymax":"45","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1180,"y":2740,"wires":[[]]},{"id":"c55ab016.1fd538","type":"switch","z":"a5b990f3.46a85","name":"BME680","property":"payload.SensorID","propertyType":"msg","rules":[{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":2860,"wires":[["92bddd0f.cc7838","e5ff1e7d.c3aee8","6343b044.a14f4","f083a9b3.e004e8","9be84539.469248","b2305d1a.468148","4b5927c2.03acb","f295bf39.114b8"]]},{"id":"3f774238.18b4b6","type":"change","z":"a5b990f3.46a85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2880,"wires":[["814077b1.bfeae8","f5b7509a.2c5e58"]]},{"id":"814077b1.bfeae8","type":"ui_chart","z":"a5b990f3.46a85","name":"humidity_today","group":"88cccbbf.46cc88","order":3,"width":0,"height":0,"label":"Humidity [ % Hd ]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no information available","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":2880,"wires":[[]]},{"id":"295ce4d4.f1dd64","type":"change","z":"a5b990f3.46a85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":3200,"wires":[["4ec82364.3bb184","a91c1bb0.8c97e"]]},{"id":"4ec82364.3bb184","type":"ui_chart","z":"a5b990f3.46a85","name":"carbon_dioxide_today","group":"88cccbbf.46cc88","order":4,"width":0,"height":0,"label":"Carbon Dioxide [ ppm ]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no information available","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":3200,"wires":[[]]},{"id":"92bddd0f.cc7838","type":"switch","z":"a5b990f3.46a85","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":2740,"wires":[["d9a4e0b5.4f695","c220f1b0.483348","c4fb6d25.bd5e2","9e628614.131df8"]]},{"id":"f44ff771.e487d8","type":"switch","z":"a5b990f3.46a85","name":"K30","property":"payload.SensorID","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":3180,"wires":[["89f7ab00.d7a3c8","ad7f2e5e.c2662"]]},{"id":"e5ff1e7d.c3aee8","type":"switch","z":"a5b990f3.46a85","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":2880,"wires":[["d06ac5ca.b04ff","3f774238.18b4b6","ac9f97e2.934478","9e628614.131df8"]]},{"id":"89f7ab00.d7a3c8","type":"switch","z":"a5b990f3.46a85","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"carbon_dioxide","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":3200,"wires":[["3ed04ef0.c499c2","295ce4d4.f1dd64","96f6a34f.e8ef38","9e628614.131df8"]]},{"id":"6343b044.a14f4","type":"switch","z":"a5b990f3.46a85","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"gas_resistance","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":3020,"wires":[["8da9c798.504558","dc13f0bd.6676b8"]]},{"id":"5a4302a6.c64a34","type":"switch","z":"a5b990f3.46a85","name":"Europa","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"europa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":2860,"wires":[["c55ab016.1fd538","f44ff771.e487d8"]]},{"id":"96f6a34f.e8ef38","type":"ui_gauge","z":"a5b990f3.46a85","name":"carbon_dioxide_gauge","group":"ae19eb52.3cbda8","order":3,"width":0,"height":0,"gtype":"gage","title":"Carbon Dioxide [ ppm ]","label":"","format":"{{msg.payload.Value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"2000","x":960,"y":3240,"wires":[]},{"id":"ac9f97e2.934478","type":"ui_gauge","z":"a5b990f3.46a85","name":"humidity gauge","group":"ae19eb52.3cbda8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity [ % Hd ]","label":"","format":"{{msg.payload.Value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":930,"y":2920,"wires":[]},{"id":"ad7f2e5e.c2662","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":7,"width":"0","height":"0","name":"sensor","label":"","format":"{{msg.payload.SensorName}}","layout":"col-center","x":740,"y":3140,"wires":[]},{"id":"eeda1440.b472","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":4,"width":0,"height":0,"name":"pressure","label":"Pressure [ hPa ]","format":"{{msg.payload.Value}}","layout":"row-spread","x":900,"y":3080,"wires":[]},{"id":"f083a9b3.e004e8","type":"switch","z":"a5b990f3.46a85","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":3080,"wires":[["eeda1440.b472","1c22b6b7.034fe9"]]},{"id":"9e628614.131df8","type":"join","z":"a5b990f3.46a85","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":900,"y":2980,"wires":[["9522f8fe.5af958"]]},{"id":"9522f8fe.5af958","type":"function","z":"a5b990f3.46a85","name":"IAQ Calculator","func":"function calculate_breakpoints(value, breakpoints)\n{\n    buckets = [0, 25, 50, 75, 100];\n    index = 0;\n    \n    for (i = 0; i < breakpoints.length - 1; i++)\n    {\n        if (value > breakpoints[i])\n        {\n            index = i;\n        }\n    }\n\n    bp_low = breakpoints[index] + 1;\n    bp_high = breakpoints[index + 1];\n    \n    i_low = buckets[index] + 1;\n    i_high = buckets[index + 1];\n    \n    return [bp_low, bp_high, i_low, i_high];\n}\n\nfunction calculate_quality(value, breakpoints)\n{\n    bp_list = calculate_breakpoints(value, breakpoints);\n    \n    bp_low = bp_list[0];\n    bp_high = bp_list[1];\n    i_low = bp_list[2];\n    i_high = bp_list[3];\n    \n    ix = (i_high - i_low) / (bp_high - bp_low) * (value - bp_low)  + i_low;\n    quality = 100 - ix;\n    return quality;\n}\n\nco2 = msg.payload[\"de/methodpark/er/smart/europa/carbon_dioxide\"].Value;\nhum = msg.payload[\"de/methodpark/er/smart/europa/humidity\"].Value;\ntemp = msg.payload[\"de/methodpark/er/smart/europa/temperature\"].Value;\n\nvar quality = 0.0;\n\nquality += calculate_quality(co2, [340, 600, 1000, 1500, 5000]);\nquality += calculate_quality(hum, [40, 70, 80, 90, 100]);\nquality += calculate_quality(temp, [20.0, 26.0, 29.0, 39.0, 45.0]);\n\nquality /= 3;\n\nmsg.payload.air_quality_score = quality.toFixed(1);\n\nreturn msg","outputs":1,"noerr":0,"x":1050,"y":2980,"wires":[["ffc96cfd.b4a6b8","e9b6037d.13d95"]]},{"id":"ffc96cfd.b4a6b8","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":6,"width":0,"height":0,"name":"air_quality","label":"Indoor Air Quality [ % ]","format":"{{msg.payload.air_quality_score}}","layout":"row-spread","x":1260,"y":2960,"wires":[]},{"id":"e9b6037d.13d95","type":"ui_gauge","z":"a5b990f3.46a85","name":"air_quality_gauge","group":"9f42b349.597c9","order":9,"width":0,"height":0,"gtype":"gage","title":"Air Quality Score [ % ]","label":"","format":"{{msg.payload.air_quality_score}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"40","seg2":"75","x":1280,"y":3000,"wires":[]},{"id":"6921e578.fbf2bc","type":"mqtt in","z":"a5b990f3.46a85","name":"","topic":"de/methodpark/er/smart/+/+","qos":"2","datatype":"json","broker":"60388682.e1ac98","x":120,"y":2860,"wires":[["5a4302a6.c64a34"]]},{"id":"4166c6b3.d59c38","type":"time-inject","z":"a5b990f3.46a85","name":"","nameInt":"timestamp","positionConfig":"1c09909.5e35e6f","payload":"","payloadType":"date","payloadTimeFormat":0,"payloadOffset":0,"payloadOffsetType":"none","payloadOffsetMultiplier":60000,"topic":"","time":"","timeType":"none","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"","timeEndType":"none","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"addPayload1":"","addPayload1Type":"none","addPayload1Value":"","addPayload1ValueType":"date","addPayload1Format":"0","addPayload1Offset":0,"addPayload1OffsetType":"none","addPayload1OffsetMultiplier":60000,"addPayload1Next":true,"addPayload1Days":"*","addPayload2":"","addPayload2Type":"none","addPayload2Value":"","addPayload2ValueType":"date","addPayload2Format":"0","addPayload2Offset":0,"addPayload2OffsetType":"none","addPayload2OffsetMultiplier":60000,"addPayload2Next":true,"addPayload2Days":"*","addPayload3":"","addPayload3Type":"none","addPayload3Value":"","addPayload3ValueType":"date","addPayload3Format":"0","addPayload3Offset":0,"addPayload3OffsetType":"none","addPayload3OffsetMultiplier":60000,"addPayload3Next":true,"addPayload3Days":"*","recalcTime":2,"x":900,"y":340,"wires":[["68019d97.94715c","c9ff7b8b.140a68"]]},{"id":"9be84539.469248","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":2,"width":"0","height":"0","name":"time","label":"Time","format":"{{msg.payload.Date_n_Time}}","layout":"row-spread","x":590,"y":2740,"wires":[]},{"id":"b2305d1a.468148","type":"simpletime","z":"a5b990f3.46a85","name":"","x":150,"y":2740,"wires":[["817a3896.ec95d8"]]},{"id":"817a3896.ec95d8","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BME680 Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":370,"y":2740,"wires":[]},{"id":"4b5927c2.03acb","type":"ui_text","z":"a5b990f3.46a85","group":"9f42b349.597c9","order":1,"width":"0","height":"0","name":"sensor","label":"","format":"{{msg.payload.SensorName}}","layout":"col-center","x":590,"y":2780,"wires":[]},{"id":"f5b7509a.2c5e58","type":"ui_text","z":"a5b990f3.46a85","group":"919061fb.2bb2e","order":0,"width":0,"height":0,"name":"Humidity BME680 Display","label":"BME680 real Humidity in %:","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":2840,"wires":[]},{"id":"cca0885a.662d18","type":"ui_text","z":"a5b990f3.46a85","group":"6b65f6e2.1a3af","order":0,"width":0,"height":0,"name":"Temperature BME680 Display","label":"BME680 real Temperature in C°:","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":2700,"wires":[]},{"id":"a91c1bb0.8c97e","type":"ui_text","z":"a5b990f3.46a85","group":"f4a8a2f8.79e118","order":0,"width":0,"height":0,"name":"K30 PPM CO2 Display","label":"K30 PPM CO2:","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":3160,"wires":[]},{"id":"e0d94fe5.297fa","type":"ui_text","z":"a5b990f3.46a85","group":"66bb27fb.9c3a","order":0,"width":0,"height":0,"name":"Pressure BME680 real Display","label":"BME680 real Pressure in hPa:","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":3080,"wires":[]},{"id":"6bd11ec0.5569b","type":"ui_text","z":"a5b990f3.46a85","group":"21da9a24.ad07ce","order":0,"width":0,"height":0,"name":"Gas BME680 real Display","label":"BME680 real Gas in Ohm:","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":3040,"wires":[]},{"id":"1c22b6b7.034fe9","type":"change","z":"a5b990f3.46a85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":3100,"wires":[["e0d94fe5.297fa"]]},{"id":"dc13f0bd.6676b8","type":"change","z":"a5b990f3.46a85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":3060,"wires":[["6bd11ec0.5569b"]]},{"id":"f295bf39.114b8","type":"simpletime","z":"a5b990f3.46a85","name":"","x":910,"y":3300,"wires":[["1c13a9de.c65c26"]]},{"id":"1c13a9de.c65c26","type":"ui_text","z":"a5b990f3.46a85","group":"7b204869.74b978","order":0,"width":0,"height":0,"name":"Last recived Time Display","label":"BME680 real Time of last recived msg :","format":"{{mytimes}}","layout":"row-spread","x":1130,"y":3300,"wires":[]},{"id":"60388682.e1ac98","type":"mqtt-broker","z":"","name":"RoomAir_broker","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b65f6e2.1a3af","type":"ui_group","z":"","name":"List of temperature values","tab":"4cdb988a.2f0d78","disp":true,"width":"6","collapse":true},{"id":"ce3c63da.86b428","type":"ui_group","z":"","name":"Humitdity Charts","tab":"e4b6053d.3da5f8","disp":true,"width":"6","collapse":true},{"id":"919061fb.2bb2e","type":"ui_group","z":"","name":"List of humidity values","tab":"4cdb988a.2f0d78","disp":true,"width":"6","collapse":true},{"id":"21da9a24.ad07ce","type":"ui_group","z":"","name":"Air Quality values","tab":"4cdb988a.2f0d78","disp":true,"width":"6","collapse":true},{"id":"65020d69.1e80d4","type":"ui_group","z":"","name":"Air Quality Charts","tab":"e4b6053d.3da5f8","disp":true,"width":"8","collapse":true},{"id":"fd0f9d33.076e28","type":"ui_group","z":"","name":"Temperature Charts","tab":"e4b6053d.3da5f8","disp":true,"width":"6","collapse":true},{"id":"eb60ca8d.7b92e8","type":"ui_group","z":"","name":"Gauge's","tab":"e4b6053d.3da5f8","disp":true,"width":"6","collapse":true},{"id":"8a5af9de.d08bb","type":"ui_group","z":"","name":"List of altitude values","tab":"4cdb988a.2f0d78","disp":true,"width":"6","collapse":true},{"id":"66bb27fb.9c3a","type":"ui_group","z":"","name":"List of pressure values","tab":"4cdb988a.2f0d78","disp":true,"width":"6","collapse":true},{"id":"7b204869.74b978","type":"ui_group","z":"","name":"TimeStamps","tab":"4cdb988a.2f0d78","disp":true,"width":"6","collapse":true},{"id":"f4a8a2f8.79e118","type":"ui_group","z":"","name":"List of PPM sensor values","tab":"4cdb988a.2f0d78","disp":true,"width":"5","collapse":true},{"id":"b6c6b676.a40b88","type":"ui_group","z":"","name":"Co2 charts","tab":"e4b6053d.3da5f8","disp":true,"width":"6","collapse":true},{"id":"ae19eb52.3cbda8","type":"ui_group","z":"","name":"Gauges","tab":"ea03b80b.e9886","order":3,"disp":true,"width":"6","collapse":false},{"id":"9f42b349.597c9","type":"ui_group","z":"","name":"Currently","tab":"ea03b80b.e9886","order":2,"disp":true,"width":"6","collapse":false},{"id":"88cccbbf.46cc88","type":"ui_group","z":"","name":"Today","tab":"ea03b80b.e9886","order":4,"disp":true,"width":"6","collapse":false},{"id":"1c09909.5e35e6f","type":"position-config","z":"","name":"","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"4cdb988a.2f0d78","type":"ui_tab","z":"","name":"List of all sensor Values","icon":"dashboard"},{"id":"e4b6053d.3da5f8","type":"ui_tab","z":"","name":"All sensor charts","icon":"dashboard"},{"id":"ea03b80b.e9886","type":"ui_tab","z":"","name":"Europa","icon":"dashboard","order":1}]
